ch2-int/src/main/resources/com/ttc/ch2/api/ccapi/v1/MarketLocalisedTourData.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mltd="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0"
	targetNamespace="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0"
	elementFormDefault="qualified">

	<xs:include schemaLocation="location_lists.xsd"/>

	<xs:element name="Accommodation" nillable="true" type="xs:string"></xs:element>

	<xs:element name="AirportTransfers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Section" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Assets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Image" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Brochure">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Code" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Brochures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Brochure" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CategoryValue">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Continent">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Code" type="mltd:ContinentCode" use="required"></xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="ContinentsVisited">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Continent" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CountriesVisited">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Country" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Country">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Code" type="mltd:ISO3166CountyCode" use="required"></xs:attribute>
			<xs:attribute name="Continent" type="mltd:ContinentCode" use="required"></xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Departure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:DeparturePricing" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="AvailabilityStatus" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="DefiniteDeparture" type="xs:boolean" use="required"></xs:attribute>
			<xs:attribute name="DepartureCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="EndDate" type="xs:anySimpleType" use="required"></xs:attribute>
			<xs:attribute name="StartDate" type="xs:anySimpleType" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="DepartureInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:TourSeriesPricing"></xs:element>
				<xs:element ref="mltd:Departures"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeparturePricing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:MandatoryProducts" minOccurs="0"></xs:element>
				<xs:element ref="mltd:Surcharges" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="AdultQuadRoomPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultQuadRoomPriceCombined" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultSingleRoomPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultSingleRoomPriceCombined" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultTripleRoomPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultTripleRoomPriceCombined" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultTwinRoomPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AdultTwinRoomPriceCombined" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="ChildPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="LandOnlyReduction" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="TeenagerDiscount" type="xs:decimal" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Departures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Departure" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Description" nillable="true" type="xs:string"></xs:element>

	<xs:element name="Highlights">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Section" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Image">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Caption" type="xs:string"></xs:attribute>
			<xs:attribute name="Height" type="xs:integer" use="required"></xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Type" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Url" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Width" type="xs:integer" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Itinerary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:ItinerarySegment" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ItinerarySegment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="xs:string"></xs:element>
				<xs:element ref="mltd:Text" minOccurs="0"></xs:element>
				<xs:element name="Accommodation" type="xs:string" minOccurs="0"></xs:element>
			</xs:sequence>
			<xs:attribute name="Duration" type="xs:integer" use="required"></xs:attribute>
			<xs:attribute name="StartDay" type="xs:integer" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Location">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="Country" type="mltd:ISO3166CountyCode" use="required"></xs:attribute>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="LocationsVisited">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Location" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MandatoryProduct">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="AdultPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="ChildPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="Description" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="ProductId" type="xs:long" use="required"></xs:attribute>
			<xs:attribute name="ProductType" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="MandatoryProducts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:MandatoryProduct" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="MarketLocalisedTourData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:TourInfo"></xs:element>
				<xs:element ref="mltd:DepartureInfo"></xs:element>
			</xs:sequence>
			<xs:attribute name="BookableOnline" type="xs:boolean" use="required"></xs:attribute>
			<xs:attribute name="BrandCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="TropicsBrochureCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="CatalogueCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Currency" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="Duration" type="xs:integer" use="required"></xs:attribute>
			<xs:attribute name="MarketVariationCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="OperatingProductCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="SellingCompanyCode" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="TourPackage" type="xs:boolean"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:TourCategories"></xs:element>
				<xs:element ref="mltd:Brochures"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Section" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Section">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Title" type="xs:string" minOccurs="0"></xs:element>
				<xs:element ref="mltd:Text" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Surcharge">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="AmountIsAbsolute" type="xs:boolean" use="required"></xs:attribute>
			<xs:attribute name="SurchargeAmount" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="SurchargeDescription" type="xs:string" use="required"></xs:attribute>
			<xs:attribute name="SurchargeType" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="Surcharges">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Surcharge" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Text">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="mltd:strong"></xs:element>
					<xs:element ref="mltd:a"></xs:element>
					<xs:element ref="mltd:br"></xs:element>
					<xs:element ref="mltd:ul"></xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Title" nillable="true" type="xs:string"></xs:element>

	<xs:element name="TourCategories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:TourCategory" minOccurs="0" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TourCategory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:CategoryValue" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
			<xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="TourInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TourName" type="xs:string"></xs:element>
				<xs:element ref="mltd:Metadata"></xs:element>
				<xs:element ref="mltd:ContinentsVisited"></xs:element>
				<xs:element ref="mltd:CountriesVisited"></xs:element>
				<xs:element ref="mltd:LocationsVisited"></xs:element>
				<xs:element name="Description" type="xs:string"></xs:element>
				<xs:element ref="mltd:Assets"></xs:element>
				<xs:element ref="mltd:Itinerary"></xs:element>
				<xs:element ref="mltd:WhatsIncluded" minOccurs="0"></xs:element>
				<xs:element ref="mltd:Highlights" minOccurs="0"></xs:element>
				<xs:element ref="mltd:AirportTransfers" minOccurs="0"></xs:element>
				<xs:element ref="mltd:Notes" minOccurs="0"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="TourName" nillable="true" type="xs:string"></xs:element>

	<xs:element name="TourSeriesPricing">
		<xs:complexType>
			<xs:sequence></xs:sequence>
			<xs:attribute name="AdultPortTax" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="AirPriceIncluded" type="xs:boolean" use="required"></xs:attribute>
			<xs:attribute name="ChildPortTax" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="FoodFundPrice" type="xs:decimal" use="required"></xs:attribute>
			<xs:attribute name="PriceIsIndicative" type="xs:boolean" use="required"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="WhatsIncluded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:Section" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="a">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="href" type="xs:string" use="required"></xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="br">
		<xs:complexType>
			<xs:sequence></xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="li">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="mltd:strong"></xs:element>
					<xs:element ref="mltd:a"></xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="strong" nillable="true" type="xs:string"></xs:element>

	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mltd:li" maxOccurs="unbounded"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>