ch2-int/src/main/resources/com/ttc/ch2/api/ccapi/v1/SearchTours.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:v1="http://CCAPI.TravelCorp.com/"
	targetNamespace="http://CCAPI.TravelCorp.com/"
	elementFormDefault="qualified">

	<xs:element name="SearchTours">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="securityKey" type="xs:string" />
				<xs:element name="sellingCompanyCodes" type="v1:ArrayOfString" minOccurs="0" />
				<xs:element name="continent" type="xs:string" minOccurs="0" />
				<xs:element name="country" type="xs:string" minOccurs="0" />
				<xs:element name="duration" type="xs:string" minOccurs="0" />
				<xs:element name="months" type="xs:string" minOccurs="0" />
				<xs:element name="keywords" type="v1:ArrayOfString" minOccurs="0" />
				<xs:element name="FirstRecordNumber" type="xs:int" minOccurs="0" />
				<xs:element name="NumberOfRecords" type="xs:int" minOccurs="0" />
				<xs:element name="OrderBy" type="xs:string" minOccurs="0" />
				<xs:element name="OrderDirection" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SearchToursResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SearchToursResult" type="v1:SearchTourResults" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ArrayOfString">
		<xs:sequence>
			<xs:element name="string" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SearchTourResults">
		<xs:sequence>
			<xs:element name="Header" type="v1:Header" minOccurs="0" />
			<xs:element name="Results" type="v1:ArrayOfSearchTourResultsItem" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="Successful" type="xs:boolean" />
			<xs:element name="SearchResultsTotalRecords" type="xs:int" />
			<xs:element name="NumberOfRecords" type="xs:int" />
			<xs:element name="SubsetReturned" type="xs:string" minOccurs="0" />
			<xs:element name="OrderBy" type="xs:string" minOccurs="0" />
			<xs:element name="OrderDirection" type="xs:string" minOccurs="0" />
			<xs:element name="ErrorMessaages" type="v1:ArrayOfString" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ArrayOfSearchTourResultsItem">
		<xs:sequence>
			<xs:element name="SearchTourResultsItem" type="v1:SearchTourResultsItem" nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SearchTourResultsItem">
		<xs:sequence>
			<xs:element name="MVCode" type="xs:string" minOccurs="0" />
			<xs:element name="SellingCompanyCode" type="xs:string" minOccurs="0" />
			<xs:element name="TourName" type="xs:string" minOccurs="0" />
			<xs:element name="BrochureCode" type="xs:string" minOccurs="0" />
			<xs:element name="Price" type="xs:decimal" />
			<xs:element name="Duration" type="xs:int" />
			<xs:element name="Highlights" type="xs:string" minOccurs="0" />
			<xs:element name="Sellable" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>