ch2-search/src/main/resources/META-INF/AggregatedTours.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:at="http://schema.ch2.ttc.com/AggregatedTours/2014/05/3.0"
	xmlns:ti="http://schema.ch2.ttc.com/TourInfoSimp/2014/01/3.0" 
	xmlns:td="http://schema.ch2.ttc.com/TourDeparturesSimp/2014/04/3.0"
	targetNamespace="http://schema.ch2.ttc.com/AggregatedTours/2014/05/3.0" elementFormDefault="qualified">
	<xs:import schemaLocation="TourInfoSimp.3.0es.xsd" namespace="http://schema.ch2.ttc.com/TourInfoSimp/2014/01/3.0" />
	<xs:import schemaLocation="TourDeparturesSimp.3.0-extended-0.1.xsd" namespace="http://schema.ch2.ttc.com/TourDeparturesSimp/2014/04/3.0" />
	
	<xs:element name="AggregatedTours">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CataloguedTourCode" type="xs:string" />
				<xs:element name="CataloguedTourName" type="xs:string" />
				<xs:element name="ToursList" type="at:Tour" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="Tour">
		<xs:sequence>
			<xs:element ref="td:TourDeparturesSimp" />
			<xs:element ref="ti:TourInfoSimp" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>