ch2-search/src/main/resources/META-INF/TourDeparturesSimp.3.0-extended-0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Trafalgar MGMT Services (Trafalgar MGMT Services) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:alpha="http://schema.ch2.ttc.com/TourDeparturesSimp/2014/04/3.0" targetNamespace="http://schema.ch2.ttc.com/TourDeparturesSimp/2014/04/3.0" elementFormDefault="qualified">
	<xs:element name="TourDeparturesSimp" type="alpha:TourDeparturesSimpType"/>
	<xs:complexType name="PriceType">
		<xs:sequence>
			<xs:element name="Adult" type="xs:decimal"/>
			<xs:element name="Child" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomPriceType">
		<xs:sequence>
			<xs:element name="Adult">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Base" type="xs:decimal"/>
						<xs:element name="Combined" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Child">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Base" type="xs:decimal"/>
						<xs:element name="Combined" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FoodFundType">
		<xs:sequence>
			<xs:element name="Price" type="alpha:PriceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MiscellaneousProductType">
		<xs:sequence>
			<xs:element name="Code" type="alpha:string"/>
			<xs:element name="Category" type="alpha:string"/>
			<xs:element name="Name" type="alpha:string"/>
			<xs:element name="Price" type="alpha:PriceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandatoryMiscellaneousProductsType">
		<xs:sequence>
			<xs:element name="MiscellaneousProduct" type="alpha:MiscellaneousProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PortTaxType">
		<xs:sequence>
			<xs:element name="Price" type="alpha:PriceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SurchargeType">
		<xs:sequence>
			<xs:element name="Price" type="alpha:PriceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SurchargesType">
		<xs:sequence>
			<xs:element name="Surcharge" type="alpha:SurchargeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CombinedIncludedChargesType">
		<xs:sequence>
			<xs:element name="FoodFund" type="alpha:FoodFundType" minOccurs="0"/>
			<xs:element name="MandatoryMiscellaneousProducts" type="alpha:MandatoryMiscellaneousProductsType" minOccurs="0"/>
			<xs:element name="PortTax" type="alpha:PortTaxType" minOccurs="0"/>
			<xs:element name="Surcharges" type="alpha:SurchargesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengerType">
		<xs:sequence>
			<xs:element name="Type" type="alpha:PassengerTypeType"/>
			<xs:element name="AgeFrom" type="xs:byte"/>
			<xs:element name="AgeTo" type="xs:byte"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PassengersType">
		<xs:sequence>
			<xs:element name="Passenger" type="alpha:PassengerType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OccupancyRuleType">
		<xs:sequence>
			<xs:element name="MaximumAdults" type="xs:short"/>
			<xs:element name="MaximumPassengers" type="xs:short"/>
			<xs:element name="MinimumAdults" type="xs:short"/>
			<xs:element name="MinimumPassengers" type="xs:short"/>
			<xs:element name="MinimumPayingAdults" type="xs:short"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomType">
		<xs:sequence>
			<xs:element name="OccupancyRule" type="alpha:OccupancyRuleType"/>
			<xs:element name="Price" type="alpha:RoomPriceType"/>
			<xs:element name="Type" type="alpha:RoomTypeCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomsType">
		<xs:sequence>
			<xs:element name="Room" type="alpha:RoomType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductRoomType">
		<xs:sequence>
			<xs:element name="Type" type="alpha:RoomTypeCodeType"/>
			<xs:element name="Price" type="alpha:PriceType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductRoomsType">
		<xs:sequence>
			<xs:element name="Room" type="alpha:ProductRoomType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountType">
		<xs:sequence>
			<xs:element name="Code" type="alpha:string"/>
			<xs:element name="Type" type="alpha:string"/>
			<xs:element name="Basis" type="alpha:string"/>
			<xs:element name="Amount" type="xs:decimal"/>
			<xs:element name="IsPercentage" type="xs:boolean"/>
			<xs:element name="PaymentDueDate" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountsType">
		<xs:sequence>
			<xs:element name="Discount" type="alpha:DiscountType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TourRulesType">
		<xs:sequence>
			<xs:element name="Passengers" type="alpha:PassengersType"/>
			<xs:element name="Rooms" type="alpha:RoomsType"/>
			<xs:element name="CombinedIncludedCharges" type="alpha:CombinedIncludedChargesType" minOccurs="0"/>
			<xs:element name="PriceIsIndicative" type="xs:boolean"/>
			<xs:element name="Discounts" type="alpha:DiscountsType" minOccurs="0"/>
			<xs:element name="IsEligibleForFrequentTravellerDiscount" type="xs:boolean"/>
			<xs:element name="CanSearchForFlights" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Line1" type="alpha:string"/>
			<xs:element name="Line2" type="alpha:string" minOccurs="0"/>
			<xs:element name="Line3" type="alpha:string" minOccurs="0"/>
			<xs:element name="City" type="alpha:string"/>
			<xs:element name="Region" type="alpha:string"/>
			<xs:element name="Postcode" type="alpha:string"/>
			<xs:element name="Country" type="alpha:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccommodationProductType">
		<xs:sequence>
			<xs:element name="Code" type="alpha:string"/>
			<xs:element name="Name" type="alpha:string"/>
			<xs:element name="Address" type="alpha:AddressType"/>
			<xs:element name="Rooms" type="alpha:ProductRoomsType"/>
		</xs:sequence>
		<xs:attribute name="Type" type="alpha:AccommodationProductTypeCodeType" use="required"/>
	</xs:complexType>
	<xs:complexType name="AccommodationProductsType">
		<xs:sequence>
			<xs:element name="AccommodationProduct" type="alpha:AccommodationProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MiscellaneousProductsType">
		<xs:sequence>
			<xs:element name="MiscellaneousProduct" type="alpha:MiscellaneousProductType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedProductsType">
		<xs:sequence>
			<xs:element name="AccommodationProducts" type="alpha:AccommodationProductsType" minOccurs="0"/>
			<xs:element name="MiscellaneousProducts" type="alpha:MiscellaneousProductsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepartureType">
		<xs:sequence>
			<xs:element name="DepartureCode" type="alpha:string"/>
			<xs:element name="AvailabilityStatus" type="alpha:AvailabilityStatusType"/>
			<xs:element name="StartDateTime" type="xs:dateTime"/>
			<xs:element name="Month" type="xs:integer" minOccurs="0"/>
			<xs:element name="EndDateTime" type="xs:dateTime"/>
			<xs:element name="DateRangeIncludesTravelTime" type="xs:boolean"/>
			<xs:element name="DefiniteDeparture" type="xs:boolean"/>
			<xs:element name="Notes" type="alpha:string" minOccurs="0"/>
			<xs:element name="TourRules" type="alpha:TourRulesType"/>
			<xs:element name="AssociatedProducts" type="alpha:AssociatedProductsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceRangeType">
		<xs:sequence>
			<xs:element name="PriceFrom" type="xs:decimal" />
			<xs:element name="PriceTo" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PricesRangeType">
		<xs:sequence>
			<xs:element name="SingleRoom" type="alpha:PriceRangeType" />
			<xs:element name="TwinRoom" type="alpha:PriceRangeType" />
			<xs:element name="TwinShareRoom" type="alpha:PriceRangeType" />
			<xs:element name="TripleRoom" type="alpha:PriceRangeType" />
			<xs:element name="TripleShareRoom" type="alpha:PriceRangeType" />
			<xs:element name="QuadRoom" type="alpha:PriceRangeType" />
			<xs:element name="QuadShareRoom" type="alpha:PriceRangeType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeparturesType">
		<xs:sequence>
			<xs:element name="Departure" type="alpha:DepartureType" maxOccurs="unbounded"/>
			<xs:element name="PricesRange" type="alpha:PricesRangeType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellingCompanyType">
		<xs:sequence>
			<xs:element name="Departures" type="alpha:DeparturesType"/>
		</xs:sequence>
		<xs:attribute name="Code" type="alpha:string" use="required"/>
		<xs:attribute name="CurrencyCode" type="alpha:string" use="required"/>
		<xs:attribute name="InventoryBrochureCode" type="alpha:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TourDeparturesSimpType">
		<xs:sequence>
			<xs:element name="OperatingProductCode" type="alpha:string"/>
			<xs:element name="SellingCompany" type="alpha:SellingCompanyType"/>
		</xs:sequence>
		<xs:attribute name="TourCode" type="alpha:string" use="required"/>
		<xs:attribute name="OnlineBookable" type="xs:boolean" use="required"/>
	</xs:complexType>
	<!-- Enumerations -->
	<xs:simpleType name="string">
		<xs:annotation>
			<xs:documentation>
        Requires string to be trimmed and not empty
      </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S+(\s+\S+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AvailabilityStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OnRequest"/>
			<xs:enumeration value="Available"/>
			<xs:enumeration value="Closed"/>
			<xs:enumeration value="Cancelled"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoomTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Twin"/>
			<xs:enumeration value="TwinShare"/>
			<xs:enumeration value="Triple"/>
			<xs:enumeration value="TripleShare"/>
			<xs:enumeration value="Quad"/>
			<xs:enumeration value="QuadShare"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccommodationProductTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PreAccommodation"/>
			<xs:enumeration value="PostAccommodation"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PassengerTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Adult"/>
			<xs:enumeration value="Child"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
