ch2-api/src/main/resources/META-INF/CCAPIv1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://contenthub.travcorp.com/tour_data/2010/11/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://contenthub.travcorp.com/tour_data/2010/11/1.0" name="CcapiEnhancedServiceService">
	<types>
		<xs:schema xmlns:tns="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0">

			<xs:element name="Accommodation" nillable="true" type="xs:string"/>

			<xs:element name="AirportTransfers">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Section" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Assets">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Image" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Brochure">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Code" type="xs:string" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Brochures">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Brochure" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="CategoryValue">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Continent">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Code" type="tns:continentCode" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="ContinentsVisited">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Continent" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="CountriesVisited">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Country" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Country">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Code" type="tns:iso3166CountyCode" use="required"/>
					<xs:attribute name="Continent" type="tns:continentCode" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Departure">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:DeparturePricing" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="AvailabilityStatus" type="xs:string" use="required"/>
					<xs:attribute name="DefiniteDeparture" type="xs:boolean" use="required"/>
					<xs:attribute name="DepartureCode" type="xs:string" use="required"/>
					<xs:attribute name="EndDate" type="xs:anySimpleType" use="required"/>
					<xs:attribute name="StartDate" type="xs:anySimpleType" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="DepartureInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:TourSeriesPricing"/>
						<xs:element ref="tns:Departures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="DeparturePricing">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:MandatoryProducts" minOccurs="0"/>
						<xs:element ref="tns:Surcharges" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="AdultQuadRoomPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultQuadRoomPriceCombined" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultSingleRoomPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultSingleRoomPriceCombined" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultTripleRoomPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultTripleRoomPriceCombined" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultTwinRoomPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="AdultTwinRoomPriceCombined" type="xs:decimal" use="required"/>
					<xs:attribute name="ChildPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="LandOnlyReduction" type="xs:decimal" use="required"/>
					<xs:attribute name="TeenagerDiscount" type="xs:decimal" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Departures">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Departure" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Description" nillable="true" type="xs:string"/>

			<xs:element name="Highlights">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Section" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Image">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Caption" type="xs:string"/>
					<xs:attribute name="Height" type="xs:integer" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
					<xs:attribute name="Type" type="xs:string" use="required"/>
					<xs:attribute name="Url" type="xs:string" use="required"/>
					<xs:attribute name="Width" type="xs:integer" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Itinerary">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:ItinerarySegment" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ItinerarySegment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Title" type="xs:string"/>
						<xs:element ref="tns:Text" minOccurs="0"/>
						<xs:element name="Accommodation" type="xs:string" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="Duration" type="xs:integer" use="required"/>
					<xs:attribute name="StartDay" type="xs:integer" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Location">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="Country" type="tns:iso3166CountyCode" use="required"/>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="LocationsVisited">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Location" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="MandatoryProduct">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="AdultPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="ChildPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="Description" type="xs:string" use="required"/>
					<xs:attribute name="ProductId" type="xs:long" use="required"/>
					<xs:attribute name="ProductType" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="MandatoryProducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:MandatoryProduct" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="MarketLocalisedTourData">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:TourInfo"/>
						<xs:element ref="tns:DepartureInfo"/>
					</xs:sequence>
					<xs:attribute name="BookableOnline" type="xs:boolean" use="required"/>
					<xs:attribute name="BrandCode" type="xs:string" use="required"/>
					<xs:attribute name="TropicsBrochureCode" type="xs:string" use="required"/>
					<xs:attribute name="CatalogueCode" type="xs:string" use="required"/>
					<xs:attribute name="Currency" type="xs:string" use="required"/>
					<xs:attribute name="Duration" type="xs:integer" use="required"/>
					<xs:attribute name="MarketVariationCode" type="xs:string" use="required"/>
					<xs:attribute name="OperatingProductCode" type="xs:string" use="required"/>
					<xs:attribute name="SellingCompanyCode" type="xs:string" use="required"/>
					<xs:attribute name="TourPackage" type="xs:boolean"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Metadata">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:TourCategories"/>
						<xs:element ref="tns:Brochures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Notes">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Section" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Section">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Title" type="xs:string" minOccurs="0"/>
						<xs:element ref="tns:Text" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Surcharge">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="AmountIsAbsolute" type="xs:boolean" use="required"/>
					<xs:attribute name="SurchargeAmount" type="xs:decimal" use="required"/>
					<xs:attribute name="SurchargeDescription" type="xs:string" use="required"/>
					<xs:attribute name="SurchargeType" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="Surcharges">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Surcharge" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Text">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="tns:strong"/>
							<xs:element ref="tns:a"/>
							<xs:element ref="tns:br"/>
							<xs:element ref="tns:ul"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Title" nillable="true" type="xs:string"/>

			<xs:element name="TourCategories">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:TourCategory" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="TourCategory">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:CategoryValue" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="TourInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TourName" type="xs:string"/>
						<xs:element ref="tns:Metadata"/>
						<xs:element ref="tns:ContinentsVisited"/>
						<xs:element ref="tns:CountriesVisited"/>
						<xs:element ref="tns:LocationsVisited"/>
						<xs:element name="Description" type="xs:string"/>
						<xs:element ref="tns:Assets"/>
						<xs:element ref="tns:Itinerary"/>
						<xs:element ref="tns:WhatsIncluded" minOccurs="0"/>
						<xs:element ref="tns:Highlights" minOccurs="0"/>
						<xs:element ref="tns:AirportTransfers" minOccurs="0"/>
						<xs:element ref="tns:Notes" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="TourName" nillable="true" type="xs:string"/>

			<xs:element name="TourSeriesPricing">
				<xs:complexType>
					<xs:sequence/>
					<xs:attribute name="AdultPortTax" type="xs:decimal" use="required"/>
					<xs:attribute name="AirPriceIncluded" type="xs:boolean" use="required"/>
					<xs:attribute name="ChildPortTax" type="xs:decimal" use="required"/>
					<xs:attribute name="FoodFundPrice" type="xs:decimal" use="required"/>
					<xs:attribute name="PriceIsIndicative" type="xs:boolean" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element name="WhatsIncluded">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:Section" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="a">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="href" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>

			<xs:element name="br">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>

			<xs:element name="li">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element ref="tns:strong"/>
							<xs:element ref="tns:a"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="strong" nillable="true" type="xs:string"/>

			<xs:element name="ul">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:li" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:simpleType name="continentCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AFRI"/>
					<xs:enumeration value="ANTA"/>
					<xs:enumeration value="ASIA"/>
					<xs:enumeration value="AUST"/>
					<xs:enumeration value="CAME"/>
					<xs:enumeration value="EURO"/>
					<xs:enumeration value="NAME"/>
					<xs:enumeration value="SAME"/>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="iso3166CountyCode">
				<xs:restriction base="xs:string">
					<xs:enumeration value="AF"/>
					<xs:enumeration value="AX"/>
					<xs:enumeration value="AL"/>
					<xs:enumeration value="DZ"/>
					<xs:enumeration value="AS"/>
					<xs:enumeration value="AD"/>
					<xs:enumeration value="AO"/>
					<xs:enumeration value="AI"/>
					<xs:enumeration value="AQ"/>
					<xs:enumeration value="AG"/>
					<xs:enumeration value="AR"/>
					<xs:enumeration value="AM"/>
					<xs:enumeration value="AW"/>
					<xs:enumeration value="AU"/>
					<xs:enumeration value="AT"/>
					<xs:enumeration value="AZ"/>
					<xs:enumeration value="BS"/>
					<xs:enumeration value="BH"/>
					<xs:enumeration value="BD"/>
					<xs:enumeration value="BB"/>
					<xs:enumeration value="BY"/>
					<xs:enumeration value="BE"/>
					<xs:enumeration value="BZ"/>
					<xs:enumeration value="BJ"/>
					<xs:enumeration value="BM"/>
					<xs:enumeration value="BT"/>
					<xs:enumeration value="BO"/>
					<xs:enumeration value="BA"/>
					<xs:enumeration value="BW"/>
					<xs:enumeration value="BV"/>
					<xs:enumeration value="BR"/>
					<xs:enumeration value="IO"/>
					<xs:enumeration value="BN"/>
					<xs:enumeration value="BG"/>
					<xs:enumeration value="BF"/>
					<xs:enumeration value="BI"/>
					<xs:enumeration value="KH"/>
					<xs:enumeration value="CM"/>
					<xs:enumeration value="CA"/>
					<xs:enumeration value="CV"/>
					<xs:enumeration value="KY"/>
					<xs:enumeration value="CF"/>
					<xs:enumeration value="TD"/>
					<xs:enumeration value="CL"/>
					<xs:enumeration value="CN"/>
					<xs:enumeration value="CX"/>
					<xs:enumeration value="CC"/>
					<xs:enumeration value="CO"/>
					<xs:enumeration value="KM"/>
					<xs:enumeration value="CG"/>
					<xs:enumeration value="CD"/>
					<xs:enumeration value="CK"/>
					<xs:enumeration value="CR"/>
					<xs:enumeration value="CI"/>
					<xs:enumeration value="HR"/>
					<xs:enumeration value="CU"/>
					<xs:enumeration value="CY"/>
					<xs:enumeration value="CZ"/>
					<xs:enumeration value="DK"/>
					<xs:enumeration value="DJ"/>
					<xs:enumeration value="DM"/>
					<xs:enumeration value="DO"/>
					<xs:enumeration value="EC"/>
					<xs:enumeration value="EG"/>
					<xs:enumeration value="SV"/>
					<xs:enumeration value="GQ"/>
					<xs:enumeration value="ER"/>
					<xs:enumeration value="EE"/>
					<xs:enumeration value="ET"/>
					<xs:enumeration value="FK"/>
					<xs:enumeration value="FO"/>
					<xs:enumeration value="FJ"/>
					<xs:enumeration value="FI"/>
					<xs:enumeration value="FR"/>
					<xs:enumeration value="GF"/>
					<xs:enumeration value="PF"/>
					<xs:enumeration value="TF"/>
					<xs:enumeration value="GA"/>
					<xs:enumeration value="GM"/>
					<xs:enumeration value="GE"/>
					<xs:enumeration value="DE"/>
					<xs:enumeration value="GH"/>
					<xs:enumeration value="GI"/>
					<xs:enumeration value="GR"/>
					<xs:enumeration value="GL"/>
					<xs:enumeration value="GD"/>
					<xs:enumeration value="GP"/>
					<xs:enumeration value="GU"/>
					<xs:enumeration value="GT"/>
					<xs:enumeration value="GG"/>
					<xs:enumeration value="GN"/>
					<xs:enumeration value="GW"/>
					<xs:enumeration value="GY"/>
					<xs:enumeration value="HT"/>
					<xs:enumeration value="HM"/>
					<xs:enumeration value="VA"/>
					<xs:enumeration value="HN"/>
					<xs:enumeration value="HK"/>
					<xs:enumeration value="HU"/>
					<xs:enumeration value="IS"/>
					<xs:enumeration value="IN"/>
					<xs:enumeration value="ID"/>
					<xs:enumeration value="IR"/>
					<xs:enumeration value="IQ"/>
					<xs:enumeration value="IE"/>
					<xs:enumeration value="IM"/>
					<xs:enumeration value="IL"/>
					<xs:enumeration value="IT"/>
					<xs:enumeration value="JM"/>
					<xs:enumeration value="JP"/>
					<xs:enumeration value="JE"/>
					<xs:enumeration value="JO"/>
					<xs:enumeration value="KZ"/>
					<xs:enumeration value="KE"/>
					<xs:enumeration value="KI"/>
					<xs:enumeration value="KP"/>
					<xs:enumeration value="KR"/>
					<xs:enumeration value="KW"/>
					<xs:enumeration value="KG"/>
					<xs:enumeration value="LA"/>
					<xs:enumeration value="LV"/>
					<xs:enumeration value="LB"/>
					<xs:enumeration value="LS"/>
					<xs:enumeration value="LR"/>
					<xs:enumeration value="LY"/>
					<xs:enumeration value="LI"/>
					<xs:enumeration value="LT"/>
					<xs:enumeration value="LU"/>
					<xs:enumeration value="MO"/>
					<xs:enumeration value="MK"/>
					<xs:enumeration value="MG"/>
					<xs:enumeration value="MW"/>
					<xs:enumeration value="MY"/>
					<xs:enumeration value="MV"/>
					<xs:enumeration value="ML"/>
					<xs:enumeration value="MT"/>
					<xs:enumeration value="MH"/>
					<xs:enumeration value="MQ"/>
					<xs:enumeration value="MR"/>
					<xs:enumeration value="MU"/>
					<xs:enumeration value="YT"/>
					<xs:enumeration value="MX"/>
					<xs:enumeration value="FM"/>
					<xs:enumeration value="MD"/>
					<xs:enumeration value="MC"/>
					<xs:enumeration value="MN"/>
					<xs:enumeration value="ME"/>
					<xs:enumeration value="MS"/>
					<xs:enumeration value="MA"/>
					<xs:enumeration value="MZ"/>
					<xs:enumeration value="MM"/>
					<xs:enumeration value="NA"/>
					<xs:enumeration value="NR"/>
					<xs:enumeration value="NP"/>
					<xs:enumeration value="NL"/>
					<xs:enumeration value="AN"/>
					<xs:enumeration value="NC"/>
					<xs:enumeration value="NZ"/>
					<xs:enumeration value="NI"/>
					<xs:enumeration value="NE"/>
					<xs:enumeration value="NG"/>
					<xs:enumeration value="NU"/>
					<xs:enumeration value="NF"/>
					<xs:enumeration value="MP"/>
					<xs:enumeration value="NO"/>
					<xs:enumeration value="OM"/>
					<xs:enumeration value="PK"/>
					<xs:enumeration value="PW"/>
					<xs:enumeration value="PS"/>
					<xs:enumeration value="PA"/>
					<xs:enumeration value="PG"/>
					<xs:enumeration value="PY"/>
					<xs:enumeration value="PE"/>
					<xs:enumeration value="PH"/>
					<xs:enumeration value="PN"/>
					<xs:enumeration value="PL"/>
					<xs:enumeration value="PT"/>
					<xs:enumeration value="PR"/>
					<xs:enumeration value="QA"/>
					<xs:enumeration value="RE"/>
					<xs:enumeration value="RO"/>
					<xs:enumeration value="RS"/>
					<xs:enumeration value="RU"/>
					<xs:enumeration value="RW"/>
					<xs:enumeration value="SH"/>
					<xs:enumeration value="KN"/>
					<xs:enumeration value="LC"/>
					<xs:enumeration value="PM"/>
					<xs:enumeration value="VC"/>
					<xs:enumeration value="WS"/>
					<xs:enumeration value="SM"/>
					<xs:enumeration value="ST"/>
					<xs:enumeration value="SA"/>
					<xs:enumeration value="SN"/>
					<xs:enumeration value="SC"/>
					<xs:enumeration value="SL"/>
					<xs:enumeration value="SG"/>
					<xs:enumeration value="SK"/>
					<xs:enumeration value="SI"/>
					<xs:enumeration value="SB"/>
					<xs:enumeration value="SO"/>
					<xs:enumeration value="ZA"/>
					<xs:enumeration value="GS"/>
					<xs:enumeration value="ES"/>
					<xs:enumeration value="LK"/>
					<xs:enumeration value="SD"/>
					<xs:enumeration value="SR"/>
					<xs:enumeration value="SJ"/>
					<xs:enumeration value="SZ"/>
					<xs:enumeration value="SE"/>
					<xs:enumeration value="CH"/>
					<xs:enumeration value="SY"/>
					<xs:enumeration value="TW"/>
					<xs:enumeration value="TJ"/>
					<xs:enumeration value="TZ"/>
					<xs:enumeration value="TH"/>
					<xs:enumeration value="TL"/>
					<xs:enumeration value="TG"/>
					<xs:enumeration value="TK"/>
					<xs:enumeration value="TO"/>
					<xs:enumeration value="TT"/>
					<xs:enumeration value="TN"/>
					<xs:enumeration value="TR"/>
					<xs:enumeration value="TM"/>
					<xs:enumeration value="TC"/>
					<xs:enumeration value="TV"/>
					<xs:enumeration value="UG"/>
					<xs:enumeration value="UA"/>
					<xs:enumeration value="AE"/>
					<xs:enumeration value="GB"/>
					<xs:enumeration value="US"/>
					<xs:enumeration value="UM"/>
					<xs:enumeration value="UY"/>
					<xs:enumeration value="UZ"/>
					<xs:enumeration value="VU"/>
					<xs:enumeration value="VE"/>
					<xs:enumeration value="VN"/>
					<xs:enumeration value="VG"/>
					<xs:enumeration value="VI"/>
					<xs:enumeration value="WF"/>
					<xs:enumeration value="EH"/>
					<xs:enumeration value="YE"/>
					<xs:enumeration value="ZM"/>
					<xs:enumeration value="ZW"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:tns="http://contenthub.travcorp.com/tour_data/2010/11/1.0" xmlns:ns1="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://contenthub.travcorp.com/tour_data/2010/11/1.0">

			<xsd:import namespace="http://www.ttsl.com/MarketLocalisedTourData/2010/11/1.0"/>

			<xs:element name="TourDetailsFull" type="tns:TourDetailsFull"/>

			<xs:element name="tourDetailsFullResponse" type="tns:tourDetailsFullResponse"/>

			<xs:complexType name="TourDetailsFull">
				<xs:sequence>
					<xs:element name="securityKey" type="xs:string" minOccurs="0"/>
					<xs:element name="sellingCompanyCode" type="xs:string" minOccurs="0"/>
					<xs:element name="marketVariationCode" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="tourDetailsFullResponse">
				<xs:sequence>
					<xs:element ref="ns1:MarketLocalisedTourData" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		
		<xs:schema xmlns:tns="http://CCAPI.TravelCorp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://CCAPI.TravelCorp.com/">

			<xs:element name="SearchTours" nillable="true" type="tns:SearchToursEnhanced"/>

			<xs:element name="SearchToursEnhanced" type="tns:SearchToursEnhanced"/>

			<xs:element name="SearchToursResponse" type="tns:SearchToursResponse"/>

			<xs:complexType name="SearchToursEnhanced">
				<xs:sequence>
					<xs:element name="securityKey" type="xs:string" minOccurs="0"/>
					<xs:element name="sellingCompanyCodes" type="tns:ArrayOfString" minOccurs="0"/>
					<xs:element name="continent" type="xs:string" minOccurs="0"/>
					<xs:element name="country" type="xs:string" minOccurs="0"/>
					<xs:element name="duration" type="xs:string" minOccurs="0"/>
					<xs:element name="months" type="xs:string" minOccurs="0"/>
					<xs:element name="keywords" type="tns:ArrayOfString" minOccurs="0"/>
					<xs:element name="FirstRecordNumber" type="xs:int"/>
					<xs:element name="NumberOfRecords" type="xs:int"/>
					<xs:element name="OrderBy" type="xs:string" minOccurs="0"/>
					<xs:element name="OrderDirection" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfString">
				<xs:sequence>
					<xs:element name="string" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SearchToursResponse">
				<xs:sequence>
					<xs:element name="SearchToursResult" type="tns:SearchTourResults" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SearchTourResults">
				<xs:sequence>
					<xs:element name="Header" type="tns:Header" minOccurs="0"/>
					<xs:element name="Results" type="tns:ArrayOfSearchTourResultsItem" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Header">
				<xs:sequence>
					<xs:element name="Successful" type="xs:boolean"/>
					<xs:element name="SearchResultsTotalRecords" type="xs:int"/>
					<xs:element name="NumberOfRecords" type="xs:int"/>
					<xs:element name="SubsetReturned" type="xs:string" minOccurs="0"/>
					<xs:element name="OrderBy" type="xs:string" minOccurs="0"/>
					<xs:element name="OrderDirection" type="xs:string" minOccurs="0"/>
					<xs:element name="ErrorMessaages" type="tns:ArrayOfString" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ArrayOfSearchTourResultsItem">
				<xs:sequence>
					<xs:element name="SearchTourResultsItem" type="tns:SearchTourResultsItem" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SearchTourResultsItem">
				<xs:sequence>
					<xs:element name="MVCode" type="xs:string" minOccurs="0"/>
					<xs:element name="SellingCompanyCode" type="xs:string" minOccurs="0"/>
					<xs:element name="TourName" type="xs:string" minOccurs="0"/>
					<xs:element name="BrochureCode" type="xs:string" minOccurs="0"/>
					<xs:element name="Price" type="xs:decimal"/>
					<xs:element name="Duration" type="xs:int"/>
					<xs:element name="Highlights" type="xs:string" minOccurs="0"/>
					<xs:element name="Sellable" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="tourDetailsFull">
		<part xmlns:ns2="http://contenthub.travcorp.com/tour_data/2010/11/1.0" name="parameters" element="ns2:TourDetailsFull"/>
	</message>
	<message name="tourDetailsFullResponse">
		<part xmlns:ns2="http://contenthub.travcorp.com/tour_data/2010/11/1.0" name="parameters" element="ns2:tourDetailsFullResponse"/>
	</message>
	<message name="SearchTours">
		<part xmlns:ns1="http://CCAPI.TravelCorp.com/" name="parameters" element="ns1:SearchTours"/>
	</message>
	<message name="SearchToursResponse">
		<part xmlns:ns2="http://CCAPI.TravelCorp.com/" name="parameters" element="ns2:SearchToursResponse"/>
	</message>
	<portType name="tour_content_api">
		<operation name="tourDetailsFull">
			<input message="tns:tourDetailsFull"/>
			<output message="tns:tourDetailsFullResponse"/>
		</operation>
		<operation name="SearchTours">
			<input message="tns:SearchTours"/>
			<output message="tns:SearchToursResponse"/>
		</operation>
	</portType>
	<binding name="tour_content_apiPortBinding" type="tns:tour_content_api">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="tourDetailsFull">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SearchTours">
			<soap:operation soapAction="http://CCAPI.TravelCorp.com/SearchTours"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CcapiEnhancedServiceService">
		<port name="tour_content_apiPort" binding="tns:tour_content_apiPortBinding">
			<soap:address location="http://localhost:8888/ccapi/v1/"/>
		</port>
	</service>
</definitions>