ch2-bl/src/main/resources/META-INF/wsdl/TropicsBuildWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd" name="ITropicsBuild">
<types>
<xsd:schema>
<xsd:import namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd" schemaLocation="http://londvap1.corp.ttc:7779/tropics/TropicsBuildWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="searchMV">
<part name="in" type="tns:wsInSearchMVVO"></part>
</message>
<message name="searchMVResponse">
<part name="return" type="tns:wsSearchMVVO"></part>
</message>
<message name="validateRoomOccupancy">
<part name="in" type="tns:com_tropics_webservice_iTropics_vo_current_products_accom_WSInValidateRoomOccupancyVO"></part>
</message>
<message name="validateRoomOccupancyResponse">
<part name="return" type="tns:wsRoomOccupancyResponseVO"></part>
</message>
<message name="getTransferProductDetails">
<part name="in" type="tns:com_tropics_webservice_iTropics_vo_current_products_misctransfer_WSInFlightTransfersVO"></part>
</message>
<message name="getTransferProductDetailsResponse">
<part name="return" type="tns:com_tropics_webservice_iTropics_vo_current_common_WSTransferProductResponseVO"></part>
</message>
<message name="getDepartureAvailabilityStatus">
<part name="in" type="tns:com_tropics_webservice_iTropics_vo_current_booking_WSInAvailabilityStatusVO"></part>
</message>
<message name="getDepartureAvailabilityStatusResponse">
<part name="return" type="tns:com_tropics_webservice_iTropics_vo_current_common_WSResponseHeaderVO"></part>
</message>
<message name="getMVorTPDetails">
<part name="param" type="tns:wsInGetMvorTpDetails"></part>
</message>
<message name="getMVorTPDetailsResponse">
<part name="return" type="tns:wsmVorTPDetailsVO"></part>
</message>
<message name="getDatesAndRatesEx">
<part name="request" type="tns:wsInGetDatesAndRatesExVO"></part>
</message>
<message name="getDatesAndRatesExResponse">
<part name="return" type="tns:wsGetDatesAndRatesExVO"></part>
</message>
<message name="getFTAdminCodes">
<part name="param" type="tns:wsInGetFTAdminCodes"></part>
</message>
<message name="getFTAdminCodesResponse">
<part name="return" type="tns:wsftAdminCodesVO"></part>
</message>
<message name="getTourDepartureInfoPaging">
<part name="in" type="tns:wsInGetTourDepartureInfoPagingVO"></part>
</message>
<message name="getTourDepartureInfoPagingResponse">
<part name="return" type="tns:wsTourDepartureInfoPagingVO"></part>
</message>
<message name="getDepartureMandatoryMisc">
<part name="in" type="tns:wsInGetDepartureMandatoryMiscVO"></part>
</message>
<message name="getDepartureMandatoryMiscResponse">
<part name="return" type="tns:wsDepartureMandatoryMiscVO"></part>
</message>
<message name="getToursOfTourDirector">
<part name="tourDirectorId" type="xsd:long"></part>
<part name="includeClosedDepartures" type="xsd:boolean"></part>
</message>
<message name="getToursOfTourDirectorResponse">
<part name="return" type="tns:wsTourSummariesVO"></part>
</message>
<message name="getTours">
<part name="request" type="tns:wsInGetToursVO"></part>
</message>
<message name="getToursResponse">
<part name="return" type="tns:wsToursVO"></part>
</message>
<message name="getTourDatesAndRates">
<part name="request" type="tns:wsInGetTourDatesAndRatesVO"></part>
</message>
<message name="getTourDatesAndRatesResponse">
<part name="return" type="tns:wsDeparturesVO"></part>
</message>
<message name="getBrochures">
<part name="in" type="tns:wsBrochuresIn"></part>
</message>
<message name="getBrochuresResponse">
<part name="return" type="tns:wsBrochuresVO"></part>
</message>
<portType name="ITropicsBuildWS">
<operation name="searchMV">
<input message="tns:searchMV"></input>
<output message="tns:searchMVResponse"></output>
</operation>
<operation name="validateRoomOccupancy">
<input message="tns:validateRoomOccupancy"></input>
<output message="tns:validateRoomOccupancyResponse"></output>
</operation>
<operation name="getTransferProductDetails">
<input message="tns:getTransferProductDetails"></input>
<output message="tns:getTransferProductDetailsResponse"></output>
</operation>
<operation name="getDepartureAvailabilityStatus">
<input message="tns:getDepartureAvailabilityStatus"></input>
<output message="tns:getDepartureAvailabilityStatusResponse"></output>
</operation>
<operation name="getMVorTPDetails">
<input message="tns:getMVorTPDetails"></input>
<output message="tns:getMVorTPDetailsResponse"></output>
</operation>
<operation name="getDatesAndRatesEx">
<input message="tns:getDatesAndRatesEx"></input>
<output message="tns:getDatesAndRatesExResponse"></output>
</operation>
<operation name="getFTAdminCodes">
<input message="tns:getFTAdminCodes"></input>
<output message="tns:getFTAdminCodesResponse"></output>
</operation>
<operation name="getTourDepartureInfoPaging">
<input message="tns:getTourDepartureInfoPaging"></input>
<output message="tns:getTourDepartureInfoPagingResponse"></output>
</operation>
<operation name="getDepartureMandatoryMisc">
<input message="tns:getDepartureMandatoryMisc"></input>
<output message="tns:getDepartureMandatoryMiscResponse"></output>
</operation>
<operation name="getToursOfTourDirector" parameterOrder="tourDirectorId includeClosedDepartures">
<input message="tns:getToursOfTourDirector"></input>
<output message="tns:getToursOfTourDirectorResponse"></output>
</operation>
<operation name="getTours">
<input message="tns:getTours"></input>
<output message="tns:getToursResponse"></output>
</operation>
<operation name="getTourDatesAndRates">
<input message="tns:getTourDatesAndRates"></input>
<output message="tns:getTourDatesAndRatesResponse"></output>
</operation>
<operation name="getBrochures">
<input message="tns:getBrochures"></input>
<output message="tns:getBrochuresResponse"></output>
</operation>
</portType>
<binding name="ITropicsBuildWSPortBinding" type="tns:ITropicsBuildWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="searchMV">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="validateRoomOccupancy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getTransferProductDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getDepartureAvailabilityStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getMVorTPDetails">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getDatesAndRatesEx">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getFTAdminCodes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getTourDepartureInfoPaging">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getDepartureMandatoryMisc">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getToursOfTourDirector">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getTours">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getTourDatesAndRates">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
<operation name="getBrochures">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://com.tropics.webservice.iTropics.facade/ITropicsBuildWS.xsd"></soap:body>
</output>
</operation>
</binding>
<service name="ITropicsBuild">
<port name="ITropicsBuildWSPort" binding="tns:ITropicsBuildWSPortBinding">
<soap:address location="http://londvap1.corp.ttc:7779/tropics/TropicsBuildWS"></soap:address>
</port>
</service>
</definitions>